<div class="container">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-md-12 boxCarousel-index">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Bagian Content -->
          <div class="container clearfix">
            <div id="main-content" class="col-xs-12 col-sm-12 main" >
              <div id="myCarousel" class="carousel slide" data-ride="carousel" >
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                  <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox" style="height: 580px">
                  <div class="item active">
                    <%= link_to image_tag("tes.png", alt: "slide 1"), '/assets/images/tes.png'%>
                  </div>
                  <div class="item">
                    <%= link_to image_tag("tes2.png", alt: "slide 2"), '/assets/images/tes2.png'%>
                  </div>
                  <div class="item">
                    <%= link_to image_tag("tes3.png", alt: "slide 3"), '/assets/images/tes3.png'%>
                  </div>
                  <div class="item">
                    <%= link_to image_tag("tes4.png", alt: "slide 4"), '/assets/images/tes4.png'%>
                  </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row row-offcanvas row-offcanvas-left ">
        <!--Bagian Kiri-->
        <div class="col-xs-12 col-md-4 side pull-left sidebar-offcanvas" id="sidebar" role="navigation">
           <div style="font-size: 15px">
              <p> Hallo saya Riku dan saat ini saya akan lulus kuliah, salam kenal ya.
              Berikut contoh dari hasil design grafik yang saya buat. 
              </p>
            </div>
        </div>
        <!--Bagian Kanan-->
        <div class="col-xs-12 col-md-3 main pull-right">
            <div style="font-size: 15px"> 
                <table>
                     <tr>
                      <td>Facebook</td>
                      <td> : </td>
                      <td> riku kiranatama </td>
                    </tr>
                    <tr>
                      <td>Twitter</td>
                      <td> : </td>
                      <td> @riku</td>
                    </tr>
                    <tr>
                      <td>Telpon</td>
                      <td> : </td>
                      <td>022-2322392</td>
                    </tr>
                    <tr>
                      <td>Alamat</td>
                      <td> : </td>
                      <td> Jl. Mampang Prapatan no.132 </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>